body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

header{
    background-color: gainsboro;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;
}

header h1{
    color: dimgray;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
}

header img{
    border-radius: 120px;
    width: 220px;
    border: 15px solid slateblue;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px
}

main img{
    max-width: 100%;
}

h2{
    font-size: 25px;
    color: indigo;
    margin: 25px 0 10px
}

p{
    font-size: 13px;
}

a{
    color: indigo;
}
a:hover{
    color: white;
    background-color: cornflowerblue;
}

footer{
    background-color: gainsboro;
    text-align: center;
    color: dimgray;
    padding: 10px
}
footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    color: slateblue;
    font-style: italic;
    margin-top: 0;
}